<div class ="player_show_container">
<%= link_to "Edit",edit_team_player_path([:team_id],[:id])%>
  <h2> <%= @player.name %></h2>
  <h2> Nationality :<%=@player.nationality %></h2>
    <div class="player_show_playe">
      <%= image_tag @player.img_url %>

    </div>




</div>
